@keyframes slidein {
	from {
		height: 100%;
	}

	to {
		height: 0%;
	}
}

.alert {
	$parent: &;

	position: relative;
	padding: var(--space-md);
	border-radius: var(--radius-sm);
	// clear:both;

	margin: var(--space-md) 0;

	//background: #fff;
	//color: #000;
	border-left: 5px solid #000;
	box-shadow: var(--shadow-md);

	&--error {
		border-color: var(--color-error);
		#{$parent}__icon {
			color: var(--color-error);
		}
	}

	&--info {
		border-color: var(--color-info);
		#{$parent}__icon {
			color: var(--color-info);
		}
	}

	&--success {
		border-color: var(--color-success);
		#{$parent}__icon {
			color: var(--color-success);
		}
	}

	&--warning {
		border-color: var(--color-warning);

		#{$parent}__icon {
			color: var(--color-warning);
		}
	}

	&--hidden {
		display: none;
	}

	&__main {
		display: flex;
		position: relative;
	}

	&__icon {
		line-height: 1;
		flex: 0 0 40px;
		margin-right: var(--space-md);
	}

	&__countdown {
		background-color: rgba(0, 0, 0, 0.2);
		position: absolute;
		bottom: 0;
		width: 35px;
		height: 0;
		left: 0;

		animation: slidein 10000ms linear;
	}

	&__content {
		flex-grow: 1;
		align-self: center;
		> *:last-child {
			margin-bottom: 0;
		}
	}
}
